**5.11 while loop**

In [ ]:
#contoh percobaan while 
a = 0
while a < 5:
  print("angka" + str(a)+"dibawah 5")
  a += 1
  #percobaan while dalam suatu data

angka0dibawah 5
angka1dibawah 5
angka2dibawah 5
angka3dibawah 5
angka4dibawah 5

In [ ]:
a = 0
while a < 5:
  print(a * '*')
  a += 1
  #penggunaan format while untuk suatu antrian data

*
**
***
****

In [ ]:
a = 0
while a<5:
  a = a**2
  a = a+1
  print(a)
  #masih dalam percobaan format while untuk data kurang dari 5

1
2
5

In [ ]:
a = 0
while a<5:
  a = a**2
  a = a+1
print(a)

5

**5.12 List di Python**

In [ ]:

Buah =['mangga','pisang','rambutan','Durian']
print(Buah)

print('buah yang nol adalah' +' '+ Buah[0])
print('buah yang kesatu adalah' +' '+ Buah[1])
print('buah yang kedua adalah' +' '+ Buah[2])
print('buah yang ketiga adalah' +' '+ Buah[3])
#percobaan penggunaan list diphyton dengan menunggunakan nama nama buah
#dengan menunggunakan nilai positif maaka data yg akaan tercetak yakni dari data yang  paling depan

['mangga', 'pisang', 'rambutan', 'Durian']
buah yang nol adalah mangga
buah yang kesatu adalah pisang
buah yang kedua adalah rambutan
buah yang ketiga adalah Durian

In [ ]:
print(Buah [-2])
#percobaan list yang mencetak data dengan nilai negatif maka data yang akan terctak adalah data yang dimulai dari paling belakang

rambutan

In [ ]:
print('Atmaja tidak suka memakan' +' '+ Buah[0]+ ' '+ 'Matang')
#masih dalam list yaitu percobaan dalam penambahan kata kepada suatu data

Atmaja tidak suka memakan mangga Matang

**5.13 Metoda List**

In [ ]:
#percobaan metoda list
nama = ['kleo','indry','Atmaja']
print(nama)
print(nama[1])
print(nama[0])
print(nama[0]+' '+'dan'+' '+nama[1]+' '+ 'mahasiswa program studi matematika Kelas A')
#percobaan pertama  saya mencoba mencetak suatu data yang pertama dan data kedua
#percobaan kedua ini saya mencoba menggabungkan anata data pertama dan data kedua

['kleo', 'indry', 'Atmaja']
indry
kleo
kleo dan indry mahasiswa program studi matematika Kelas A

In [ ]:
print('kleo'in nama)
print('Atmaja'in nama)
print('Ari'in nama)
#percobaan dalam menentukan suatu data tersebut merupakan suatu data yang false atau trus
#karena pada suatu percobaan diatas ari tidak termasuk dalam suatu list 
#maka hasilnya jika suatu perintah tersebut tidak terdapat dalam list data tersebiut akan tercetak fasle begitupun sebaliknya

True
True
False

**5.14 For loop**

In [2]:
#untuk memanggil semua data yang terdapat dalam list 
buah = ['manggis','durian','salak','jeruk']
for jenis in buah:
  print(jenis)

manggis
durian
salak
jeruk

In [ ]:
A = 0
while A<1:
  print(buah[0])
  A+=1
  #percobaan penggunaan while dan for

manggis

In [ ]:
A = 0
while A<len (buah):
  print(buah[A])
  A+=2
  #percobaan jika suatu data di tambah dua

manggis
salak

**5.15 Fungsi Range**

In [5]:
#berfungsi untuk suatu yang membangkitkan bilangan berurutan sesuai dengan yang  diinginkan

angka = range(10)
print (angka)

range(0, 10)

In [6]:
#mencarisuatu nilai minimum dan nilai maksimum

print("Hasil 0utput program pertama :")
data = [1,2,3,4,5,6,10,5,4,3,2,1,-1]
terbesar = data[1]

#disini merupakan letak perulangan
#perulangan for untuk memeriksa setiap nilai apakah lebih besar dari nilai terbesar yang pernah dicatat sebelumnya
for i in range(len(data)): 
    if data[i] > terbesar :
        terbesar = data[i]
        #bila pengulangan tidak menemukan angka yang lebih besar dari data sebelumnya, maka angka dalam data tersebut = terbesar
print(terbesar)


#untuk dapat mencari minimum menggunakan logika sebaliknya dari suatu program sebelumnya
print("\nHasil output program kedua :")
terkecil = data [0]
for i in range(len(data)):
    if data[i] < terkecil :
        terkecil = data[i]
print(terkecil)

Hasil 0utput program pertama :
10

Hasil output program kedua :
-1